{%- extends "../../layouts/main.twig" -%}

{%- block customheaders -%}

<link rel="stylesheet" href="{{ path('/css/admin-manage-users.css') }}" />

{%- endblock -%}

{%- block content -%}
<h1>Manage Users</h1>

<table id="user-table">
  <thead>
    <tr>
      <th>Action</th>
      <th>ID</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
  {% if (userList.size() == 0) %}
    <tr>
      <td colspan="4">Nothing to show.</td>
    </tr>
  {% else %}
    {% for u in userList %}
      <tr>
        <td></td>
        <td class="id">{{ u.user.id }}</td>
        <td class="email">{{ u.user.email }}</td>
        <td class="role">
        {{ join(u.roles, ", ") }}
        </td>
      </tr>
    {% endfor %}
  
  {% endif %}
  </tbody>
</table>

<p><a href="{{ path('/') }}">Home</a></p>
{%- endblock -%}
