{%- extends "base.twig" -%}

{%- block precontent -%}
<div id="nav">
  <ul>
    <li>
    {%- if (currentUser is null) -%}
      <a href="{{ path('/login') }}">Login</a>
    {%- else -%}
      <form id="logout-form" method="post" action="{{ path('/logout') }}">
        <button class="link-button" type="submit">Log Out</button>
        <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}" />
      </form>
    {%- endif -%}
    </li>
  </ul>
  {%- if (currentUser is not null) -%}
  <div class="current-user">
    <a href="{{ path('/profile/' ~ url_encode(currentUser)) }}">{{ currentUser }}</a>
  </div>
  {%- endif -%}
</div>
{%- endblock -%}
