{%- extends "../../../layouts/main.twig" -%}

{%- block customheaders -%}

<link rel="stylesheet" href="{{ path('/css/admin-manage-users-byid.css') }}" />

{%- endblock -%}

{%- block content -%}
<h1>User Info</h1>

{% autoescape 'html' %}

<form id="form-user" method="post" action="{{ path(concat('/admin/users/', userForm.id, '/edit')) }}">
  <div class="form-row">
    <label for="id">ID</label>
    <span>{{ userForm.id }}</span>
    <input type="hidden" id="id" name="id" value="{{ userForm.id }}" />
  </div>
  <div class="form-row">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" value="{{ userForm.email }}" maxlength="255" />
  </div>
  <div class="form-row">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="{{ userForm.password }}" maxlength="20" />
  </div>
  <div class="form-row">
    <label for="confirm-password">Confirm</label>
    <input type="password" id="confirm-password" name="confirmPassword" value="{{ userForm.confirmPassword }}" maxlength="20" />
  </div>
  
  <div class="form-row roles-row">
    <p>Roles:</p>
    {%- for item in userForm.roleIds -%}
      <div><input type="checkbox" name="roleIds[{{ loop.index0 }}]" value="{{ item }}" checked="checked" /> {{ userForm.roleLookup[item] }}</div>
    {%- endfor -%}
  </div>
    
  {%- if (length(globalErrors) > 0) -%} 
  <div class="form-row error-row error">
      <ul>
      {%- for err in globalErrors -%}
          <li>{{ err }}</li>
      {%- endfor -%}
      </ul>
  </div>
  {%- endif -%} 
    
  <div class="form-row button-row">
    <input type="button" id="btn-add-roles" value="Add roles..." />
    <input type="submit" value="Save changes" />
  </div>  
  <input type="hidden" name="serializedOrigValues" value="{{ userForm.serializedOrigValues }}" />
  <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}" />
</form>

{% endautoescape %}

<p><a href="{{ path('/admin/users') }}">Back</a> <a href="{{ path('/') }}">Home</a></p>
{%- endblock -%}
